//todo color variables

//*** Primary Colors
$primary--1: #FFCC8F;
$primary--2: #FFDAAF;


//*** Secondary Colors

$secondary--1: #A760FF;
$secondary--2: #CA82FF;

// *** Teritary
$tertiary: #F4EEE6;

// *** Accent Color
$accent: #fcc153;



// *** item WHite
$white: #ffffff;
