.typo--1 {
  font-size: 67.8px;
}
.typo--2 {
  font-size: 41.9px;
}
.typo--3 {
  font-size: 25.9px;
}
.typo--4 {
  font-size: 16px;
}
.typo--5 {
  font-size: 9.9px;
}
.typo__misc--1 {
  font-size: 20px;
}
.typo__misc--2 {
  font-size: 48px;
}
.typo__misc--3 {
  font-size: 44px;
}
.typo__misc--4 {
  font-size: 24px;
}
.typo__misc--5 {
  font-size: 18px;
}
.typo__misc--6 {
  font-size: 28px;
}
.typo__heading {
  font-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=number] {
  -moz-appearance: textfield;
}

@-webkit-keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@-webkit-keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

body {
  background-color: #F4EEE6;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 50px;
  position: fixed;
  top: 0;
  z-index: 100;
}
header .header__logo svg {
  width: 53px;
  height: 53px;
}
header .header__buttons button {
  height: 44px;
  width: 44px;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: #FFCC8F;
  color: #ffffff;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header__buttons button svg {
  height: 29px;
  width: 29px;
  stroke-width: 2.4px;
}
header .header__buttons button:nth-child(1) {
  padding-left: 5px;
  margin-right: 12px;
}

body {
  background-color: #F4EEE6;
}

.main__container__wrapper {
  position: relative;
}
.main__container .chapter__one {
  height: 2000vh;
  width: 100%;
}
.main__container .chaptermid__title {
  width: 100%;
  text-align: center;
  position: fixed;
  color: #ffffff;
  z-index: 30;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  right: 50%;
  bottom: 2%;
  font-size: 36px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.main__container .chapter__two {
  position: fixed;
  overflow: hidden;
  bottom: -30%;
  background-color: #A760FF;
  width: 243px;
  height: 243px;
  z-index: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  right: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}/*# sourceMappingURL=main.css.map */